@font-face {
  font-family: Montserrat-Regular;
  src: url(../font/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Montserrat-Regular;
  src: url(../font/Montserrat-Regular.eot);
}
@font-face {
  font-family: Montserrat-Regular;
  src: url(../font/Montserrat-Regular.woff);
}
@font-face {
  font-family: Montserrat-Regular;
  src: url(../font/Montserrat-Regular.woff2);
}

@font-face {
  font-family: Montserrat-Bold;
  src: url(../font/Montserrat-Bold.ttf);
}
@font-face {
  font-family: Montserrat-Bold;
  src: url(../font/Montserrat-Bold.eot);
}
@font-face {
  font-family: Montserrat-Bold;
  src: url(../font/Montserrat-Bold.woff);
}
@font-face {
  font-family: Montserrat-Bold;
  src: url(../font/Montserrat-Bold.woff2);
}

@font-face {
  font-family: JosefinSlab-Regular;
  src: url(../font/JosefinSlab-Regular.ttf);
}
@font-face {
  font-family: JosefinSlab-Regular;
  src: url(../font/JosefinSlab-Regular.eot);
}
@font-face {
  font-family: JosefinSlab-Regular;
  src: url(../font/JosefinSlab-Regular.woff);
}
@font-face {
  font-family: JosefinSlab-Regular;
  src: url(../font/JosefinSlab-Regular.woff2);
}

@font-face {
  font-family: JosefinSlab-Bold;
  src: url(../font/JosefinSlab-Bold.ttf);
}
@font-face {
  font-family: JosefinSlab-Bold;
  src: url(../font/JosefinSlab-Bold.eot);
}
@font-face {
  font-family: JosefinSlab-Bold;
  src: url(../font/JosefinSlab-Bold.woff);
}
@font-face {
  font-family: JosefinSlab-Bold;
  src: url(../font/JosefinSlab-Bold.woff2);
}

@font-face {
  font-family: MontserratAlternates-Regular;
  src: url(../font/MontserratAlternates-Regular.ttf);
}
@font-face {
  font-family: MontserratAlternates-Regular;
  src: url(../font/MontserratAlternates-Regular.eot);
}
@font-face {
  font-family: MontserratAlternates-Regular;
  src: url(../font/MontserratAlternates-Regular.woff);
}
@font-face {
  font-family: MontserratAlternates-Regular;
  src: url(../font/MontserratAlternates-Regular.woff2);
}

@font-face {
  font-family: MontserratAlternates-Bold;
  src: url(../font/MontserratAlternates-Bold.ttf);
}
@font-face {
  font-family: MontserratAlternates-Bold;
  src: url(../font/MontserratAlternates-Bold.eot);
}
@font-face {
  font-family: MontserratAlternates-Bold;
  src: url(../font/MontserratAlternates-Bold.woff);
}
@font-face {
  font-family: MontserratAlternates-Bold;
  src: url(../font/MontserratAlternates-Bold.woff2);
}

@font-face {
  font-family: PlayfairDisplay-Regular;
  src: url(../font/PlayfairDisplay-Regular.ttf);
}
@font-face {
  font-family: PlayfairDisplay-Regular;
  src: url(../font/PlayfairDisplay-Regular.eot);
}
@font-face {
  font-family: PlayfairDisplay-Regular;
  src: url(../font/PlayfairDisplay-Regular.woff);
}
@font-face {
  font-family: PlayfairDisplay-Regular;
  src: url(../font/PlayfairDisplay-Regular.woff2);
}

@font-face {
  font-family: PlayfairDisplay-Bold;
  src: url(../font/PlayfairDisplay-Bold.ttf);
}
@font-face {
  font-family: PlayfairDisplay-Bold;
  src: url(../font/PlayfairDisplay-Bold.eot);
}
@font-face {
  font-family: PlayfairDisplay-Bold;
  src: url(../font/PlayfairDisplay-Bold.woff);
}
@font-face {
  font-family: PlayfairDisplay-Bold;
  src: url(../font/PlayfairDisplay-Bold.woff2);
}
